// color
$col-dark-blue: #0C0C0E;
$col-dark: #000000;
$col-brown: #BB945F;
$col-white: #FFFFFF;
$col-grey: #8E8E8E;


// dimensions
$width-container: 1440px;

//break-points
$desktop: 1024px;
$tablet: 768px;
$mobile: 640px;
